*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  font-family: "Epilogue", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1;
  background-color: whitesmoke;
  max-width: 144rem;
  margin: 0 auto; }

.primary__heading {
  font-size: 7rem;
  font-weight: 700; }

.attribution {
  font-size: 11px;
  text-align: center; }

.attribution a {
  color: #3e52a3; }

.nav {
  height: 8rem;
  padding: 3.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0; }
  .nav__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem; }
    .nav__cont__list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4rem; }
      .nav__cont__list__item {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.8rem; }
        .nav__cont__list__item--link:link, .nav__btns--link:link, .nav__cont__list__item--link:visited, .nav__btns--link:visited {
          text-decoration: none;
          color: dimgray;
          font-size: 1.6rem;
          font-weight: 500;
          transition: all 0.3s; }
        .nav__cont__list__item--link:hover, .nav__btns--link:hover, .nav__cont__list__item--link:active, .nav__btns--link:active {
          color: #141414; }
        .nav__cont__list__item--icon {
          color: dimgray;
          cursor: pointer; }
  .nav__btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem; }
  .nav__menu {
    display: none;
    z-index: 999; }
    .nav__menu--icon, .nav__close--icon {
      font-size: 6rem;
      color: #141414;
      cursor: pointer; }
  .nav__close {
    display: none;
    z-index: 999; }

.header {
  min-height: 60vh;
  padding: 5rem 2rem 0 12rem;
  padding-bottom: 6rem;
  display: flex;
  justify-content: normal;
  align-items: flex-end;
  gap: 2.4rem; }
  .header__content {
    display: flex;
    justify-content: normal;
    align-items: flex-start;
    gap: 6rem;
    flex-direction: column; }
    .header__content--cont {
      width: 75%;
      display: flex;
      justify-content: normal;
      align-items: flex-start;
      gap: 5rem;
      flex-direction: column; }
  .header__text {
    width: 90%;
    color: dimgray;
    line-height: 1.5; }
  .header__btn:link, .header__btn:visited {
    text-decoration: none;
    color: dimgray;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    padding: 1.6rem 2.4rem;
    background-color: #141414;
    border: 1px solid #141414;
    border-radius: 1.2rem;
    transition: all 0.3s; }
  .header__btn:hover, .header__btn:active {
    background-color: transparent;
    color: #141414; }
  .header__img {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0; }
    .header__img--hero {
      width: 75%; }
  .header__features {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem; }

.features__options {
  position: absolute;
  padding: 1.4rem 2.6rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  top: 4rem;
  left: -5rem;
  transition: all 0.3s ease-in-out; }
  .features__options__list {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    flex-direction: column; }
    .features__options__list--item {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      list-style: none; }
  .features__options--link:link, .features__options--link:visited {
    text-decoration: none;
    color: dimgray;
    font-size: 1.4rem;
    font-weight: 500; }

.company__options {
  position: absolute;
  padding: 1.8rem 1.4rem;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  top: 4rem;
  right: 0;
  transition: all 0.3s ease-in-out; }
  .company__options__list {
    display: flex;
    justify-content: normal;
    align-items: flex-start;
    gap: 1.6rem;
    flex-direction: column; }
    .company__options__list__item {
      list-style: none; }
      .company__options__list__item--link:link, .company__options__list__item--link:visited {
        text-decoration: none;
        color: dimgray;
        font-size: 1.5rem; }

.rigister {
  border: 2px solid #9c9c9c;
  padding: 1rem 1.4rem;
  border-radius: 1.6rem;
  transition: all 0.3s; }

.rigister:hover {
  border-color: black; }

#item__company,
#item__feature {
  position: relative; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  transition: all 0.4s; }

@media (max-width: 75em) {
  .header__content--cont {
    width: 95%; }
  .header__img--hero {
    width: 85%; } }

@media (max-width: 62.5em) {
  .header {
    padding: 5rem 2rem 6rem 6rem; }
    .header__content--cont {
      width: 95%; }
    .header__img--hero {
      width: 100%; } }

@media (max-width: 62.5em) {
  .nav {
    padding: 3.2rem 4rem 3.2rem 4rem; }
    .nav__cont__list {
      position: fixed;
      right: 0;
      top: 0;
      background-color: white;
      height: 100vh;
      width: 50%;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      padding-left: 3rem;
      padding-top: 15rem;
      transition: all 1s;
      z-index: 99;
      opacity: 0;
      visibility: hidden;
      transform: translateX(30rem); }
    .nav__btns {
      display: none; }
    .nav__menu {
      display: block; }
  .features__options,
  .company__options {
    left: 0rem;
    box-shadow: 0 0 0 transparent; }
  .company__options {
    width: 100%; }
  .header {
    padding: 5rem 4rem 6rem 4rem;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr); }
    .header__content {
      grid-column: 1 / -1;
      align-items: center; }
      .header__content--cont {
        width: 100%;
        align-items: center; }
    .header__text {
      width: 48%;
      text-align: center; }
    .header__img {
      grid-row: 1;
      grid-column: 1 / -1; }
      .header__img--hero {
        width: 100%; }
  .features__options {
    opacity: 1;
    visibility: visible; }
  .company__options {
    opacity: 1;
    visibility: visible; } }

@media (max-width: 50em) {
  .header__text {
    width: 65%; }
  .primary__heading {
    font-size: 6rem; } }

@media (max-width: 40.6em) {
  .header__text {
    width: 75%; }
  .primary__heading {
    font-size: 4.5rem; } }

@media (max-width: 28.2em) {
  .nav {
    padding: 3.2rem 1rem 3.2rem 1.6rem; }
  .header {
    padding: 5rem 1.6rem 6rem 1.6rem; }
    .header__text {
      width: 95%; }
    .header__features {
      gap: 2.4rem; }
      .header__features__img {
        width: 7.6rem; }
  .primary__heading {
    font-size: 3.6rem; } }

.hidden {
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out; }

.hiddenNav {
  opacity: 1;
  visibility: visible;
  transform: translateX(0); }

.displayBtn {
  display: block; }

.hiddenBtn {
  display: none; }

.menuPadding {
  padding-bottom: 15rem; }

/*# sourceMappingURL=style.css.map */